---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const pageTitle = "My Astro Learning Blog | A01782589";
---

<BaseLayout pageTitle={pageTitle}>
    <p>Tengo racha de 7 perdidas en competitivo de Rivals</p>
    <ul>
       {allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
    </ul>
</BaseLayout>